$primary-color: #1D2130;
$secondary-color: #525560;
$tertiary-color: #F2C94C;
$bg-color1: #FEFDFC;
$bg-color2: #FCEDC6;
$bg-color3: #0B0706;
$border-color: #E5E5E5;
$border-color1: #00000066;
$white: #FFFF;
$black: #000000;


$xs: 16px;
$s: 18px;
$m: 28px;
$l: 40px;
$xl: 48px;
$xxl: 64px;